/* Colours */


/* black: #1B2021
white: #F4F2F3
red: #ED1D20
yellow: #ffcc00
grey: #3E4A51
light grey: #62747F
blue: #1F51FF */


/* General Styles */

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1B2021;
	color: #F4F2F3;
	font-family: 'Noto Sans', sans-serif;
	min-width: 280px;
}

img {
	max-width: 100%;
}

a {
	color: #F4F2F3;
	transition: 0.5s;
	text-decoration: none;
}


/* a:visited {
	color: #1F51FF;
} */

a:hover,
a:focus {
	color: #ffcc00;
}


/* Header Styles */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	margin: 0;
	font-size: 2em;
	color: #ffcc00;
	font-family: 'Lobster', cursive;
	margin-left: .693em;
}

.headBtn {
	border: none;
	padding: 0;
	font-size: 1rem;
	line-height: 1;
	background: transparent;
	-webkit-appearance: none;
}

.headNav {
	display: none;
}

.headMenu {
	margin-right: 1em;
}


/* Main Styles */

.mainSection {
	padding: 0 1.4em;
}

.review {
	border: .4em solid #ED1D20;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 15em;
	margin-bottom: 1.4em;
}

.reviewHeadings {
	margin: 0 .4em;
	position: absolute;
	bottom: .4em;
	background-color: #ED1D20;
	border-radius: .1em;
}

.reviewTitle {
	padding: .4em;
	position: absolute;
	top: .4em;
	right: .4em;
	background-color: #ED1D20;
	border-radius: .1em;
}

.reviewTitleHead {
	margin: 0;
}

.headline {
	margin: .4rem;
}

.subhead {
	display: none;
}


/* Footer Styles */

footer {
	background-color: #3E4A51;
	border-top: .1em solid #62747F;
}

footer li {
	padding-bottom: .4em;
}

.footNav {
	width: 100%;
	padding: 1.4em 0;
}

.footItem {
	width: 30%;
	margin: 0 auto 1.4em;
}

.footItem:last-of-type {
	margin: auto;
}

.listTitle {
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
	color: #ffcc00;
	margin: 0;
}

.footList {
	list-style: none;
	padding: 0;
	margin: 0;
}


/* Media Queries */

@media only screen and (min-width: 320px) {
	/* Main Styles */
	.review {
		height: 20em;
	}
}

@media only screen and (min-width: 425px) {
	/* Header Styles */
	header {
		flex-direction: column;
		justify-content: flex-end;
	}
	.title {
		font-size: 4em;
		margin-left: 0;
	}
	.headMenu,
	.headBtn {
		display: none;
	}
	.headNav {
		width: 85%;
		background-color: #ED1D20;
		display: block;
	}
	.headNavList {
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 0;
	}
	/* Main Styles */
	.mainSection {
		padding: 1.4em 1.4em 0;
	}
	.review {
		height: 25em;
	}
	.headline {
		font-size: 2em;
	}
	/* Footer Styles */
	.footNav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 1.4em 0;
	}
	.footItem {
		margin: 0;
		width: auto;
	}
	.footItem:last-of-type {
		margin: 0;
	}
}

@media only screen and (min-width: 768px) {
	/* Header Styles */
	.headNav {
		width: 70%;
	}
	/* Main Styles */
	.review {
		height: 40em;
	}
	.headline {
		display: block;
		margin: .4rem;
	}
	/* Footer Styles */
	footer {
		min-height: calc(100% - 950px);
	}
}

@media only screen and (min-width: 1024px) {
	/* Header Styles */
	header {
		height: 20%;
		max-height: 200px;
	}
	.title {
		margin-bottom: .4em;
	}
	/* Main Styles */
	.mainContent {
		height: 80%;
		max-height: 750px;
	}
	.mainSection {
		padding: 1.4em;
		height: 100%;
		display: grid;
		grid-template: repeat(3, 1fr) / repeat(3, 1fr);
		grid-gap: 1.4em;
	}
	.reviewItem:first-child {
		grid-row: 1 / 4;
		grid-column: 1 / 3; 
	}
	.review {
		height: 100%;
		margin: 0;
	}
	.reviewItem:first-child .subhead {
		display: block;
		margin: .4rem;
	}
}

@media only screen and (min-width: 1200px) {
	/* Main Styles */
	.mainContent {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (min-width: 1440px) {
	/* Main Styles */
	.mainContent {
		width: 85%;
	}
}

@media only screen and (min-width: 2560px) {
	/* Main Styles */
	.mainContent {
		width: 80%;
	}
}
